<!-- Header -->
<main>
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Idea Store</h1>
      <p class="lead text-muted">
        A place to share awesome ideas with awesome people.
        Get your idea validated by people, work on it and build your next startup!
      </p>
      <p>
        <%= link_to  "Visit all ideas", ideas_path, class: 'btn btn-primary' %>
      </p>
    </div>
  </section>
</main>
